#content{
    height:50vh;
    width:100%;
    display:flex;
    flex-direction: column;
}
#content h1{
    color:black;
    font-size: 5rem;
    font-weight:800;
    margin-top:15vh;
    margin-left:6vw;
}
#content h1 span{
    color:darkblue;
}
#content h2{
    font-size: 2rem;
    font-weight:600;
    margin-top:-10vh;
    margin-left:6vw;
}
#content h3{
    font-size: 2rem;
    font-weight:600;
    margin-top:-1vh;;
    margin-left:6vw;
}
#content h3 a{
    text-decoration: none;
    color:red;
}
#social-media{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-platform{
    display:flex;
    justify-content: space-between;
    width:14vw;
    align-items: center;
}
img{
    width:3vw;
    height:6vh;
}
footer{
    background-color: gray;
    height:20vh;
}
